.search_box{
    border: 2px solid green;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 20px;
}

.search_box .submit{
    border-radius: 12px;
    background-color: greenyellow;
    border: none;
}

.search_box #search{
    border:none;
    outline: none;
}